.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  opacity: 1;
  transition: var(--mainTransition);
}
.closeSidebar {
  opacity: 0;
  z-index: 0;
}
.header {
  padding: 2rem 2rem;
  display: flex;
  justify-content: flex-end;
}
.movingHeader {
  padding: 1rem 2rem;
}

.closeBtn {
  border: none;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--mainWhite);
  outline-color: var(--primaryColor);
  background: transparent;
}
.closeIcon {
  font-size: 2rem;
}
.closeBtn:hover {
  color: var(--primaryColor);
}
.linksContainer {
  margin-top: -4.875rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  font-family: "Roboto", sans-serif;

  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--mainWhite);
  padding: 0.2rem 3rem;
  margin: 0.5rem 0;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.link:hover {
  transform: translateY(-0.2rem);
  color: var(--primaryColor);
}
